[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "singleCellTK"]
	path = singleCellTK
	url = https://github.com/compbiomed/singlecelltk
